<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breakscape">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".fullPassActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".PasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fullEncActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Phishing"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EncryptionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CongratulationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BreakActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LeadersActivity" />

        <!-- All Leaderboard Activity -->
        <activity
            android:name=".AllLeadersActivity"
            android:label="All Scores" >
        </activity>

        <!-- Add Leaderboard Entry  Activity -->
        <activity
            android:name=".NewLeaderActivity"
            android:label="Add New Score" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>